/Content/_Defense/Characters/Player/Anims/** filter=lfs diff=lfs merge=lfs -text
/Content/_Defense/VFX/Weapons/Pistol/Stage3_StormTornado/** filter=lfs diff=lfs merge=lfs -text
/Content/FXVarietyPack/** filter=lfs diff=lfs merge=lfs -text
